services:
    
  # middles
  mysql:
    container_name: mysql
    image: mysql:latest@sha256:fe036967257bf11aab7184e371920c5b629f0dd36cbefdf4ccd2ae18cc900dbd
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root-pw
      MYSQL_DATABASE: the_database
      MYSQL_USER: ndxbn
      MYSQL_PASSWORD: pw
  redis:
    container_name: redis
    image: redis:alpine@sha256:6cbef353e480a8a6e7f10ec545f13d7d3fa85a212cdcc5ffaf5a1c818b9d3798
    restart: always
    ports:
      - "6379:6379"
  redis-web:
    container_name: redis-web
    image: erikdubbelboer/phpredisadmin:latest@sha256:8bbf79270ba4fa0fba9ca146c151e477262a247ab6e297ce44a622853f17d592
    restart: always
    ports:
      - "6800:80"
    environment:
      REDIS_1_HOST: redis
  minio:
    container_name: minio
    image: quay.io/minio/minio@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: miniopass
    volumes:
      - ./storage/minio:/data:rw
    command:
      - server
      - --console-address
      - ":9001"
      - /data

